.main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #dfdfdf;
}

.displayFlex {
  display: flex;
}

.justifyAlignCenter {
  justify-content: center;
  align-items: center;
}

.textFamily {
  font-family: 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style',
    Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
}

.margin5 {
  margin: 5px;
}
