@import '~bootstrap/dist/css/bootstrap.css';

.main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #dfdfdf;
}

.displayFlex {
  display: flex;
}

.justifyAlignCenter {
  justify-content: center;
  align-items: center;
}

.textFamily {
  font-family: 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style',
    Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
}

.margin5 {
  margin: 5px;
}

.margin10 {
  margin: 10px;
}

.marginRight5 {
  margin-right: 5px;
}

.cardShadow {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}

.cardShadow:hover {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
}

.padding10 {
  padding: 10px;
}
