@import '~bootstrap/dist/css/bootstrap.css';
@import '../App.css';

.allTweets {
  width: 30%;
  background-color: black;
  padding: 10px;
}

.conversationTweet {
  width: 70%;
  background-color: pink;
  padding: 10px;
}

@media only screen and (max-width: 480px) {
  .allTweets {
    width: 50%;
    background-color: black;
    padding: 10px;
  }

  .conversationTweet {
    width: 50%;
    background-color: pink;
    padding: 10px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 975px) {
  .allTweets {
    width: 40%;
    background-color: black;
    padding: 10px;
  }

  .conversationTweet {
    width: 60%;
    background-color: pink;
    padding: 10px;
  }
}
